@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-LightItalic.eot');
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-LightItalic.woff2') format('woff2'), url('fonts/Lato-LightItalic.woff') format('woff'), url('fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Black.eot');
  src: local('Lato Black'), local('Lato-Black'), url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Black.woff2') format('woff2'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-HeavyItalic.eot');
  src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'), url('fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-HeavyItalic.woff2') format('woff2'), url('fonts/Lato-HeavyItalic.woff') format('woff'), url('fonts/Lato-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Lato Hairline';
  src: url('fonts/Lato-Hairline.eot');
  src: local('Lato Hairline'), local('Lato-Hairline'), url('fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Hairline.woff2') format('woff2'), url('fonts/Lato-Hairline.woff') format('woff'), url('fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Semibold.eot');
  src: local('Lato Semibold'), local('Lato-Semibold'), url('fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Semibold.woff2') format('woff2'), url('fonts/Lato-Semibold.woff') format('woff'), url('fonts/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Heavy.eot');
  src: local('Lato Heavy'), local('Lato-Heavy'), url('fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Heavy.woff2') format('woff2'), url('fonts/Lato-Heavy.woff') format('woff'), url('fonts/Lato-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-MediumItalic.eot');
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-MediumItalic.woff2') format('woff2'), url('fonts/Lato-MediumItalic.woff') format('woff'), url('fonts/Lato-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Light.eot');
  src: local('Lato Light'), local('Lato-Light'), url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Light.woff2') format('woff2'), url('fonts/Lato-Light.woff') format('woff'), url('fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'), url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Bold.woff2') format('woff2'), url('fonts/Lato-Bold.woff') format('woff'), url('fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-BoldItalic.eot');
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-BoldItalic.woff2') format('woff2'), url('fonts/Lato-BoldItalic.woff') format('woff'), url('fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Regular.woff2') format('woff2'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Hairline';
  src: url('fonts/Lato-HairlineItalic.eot');
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-HairlineItalic.woff2') format('woff2'), url('fonts/Lato-HairlineItalic.woff') format('woff'), url('fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-SemiboldItalic.eot');
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url('fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-SemiboldItalic.woff2') format('woff2'), url('fonts/Lato-SemiboldItalic.woff') format('woff'), url('fonts/Lato-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-BlackItalic.eot');
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-BlackItalic.woff2') format('woff2'), url('fonts/Lato-BlackItalic.woff') format('woff'), url('fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Italic.eot');
  src: local('Lato Italic'), local('Lato-Italic'), url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Italic.woff2') format('woff2'), url('fonts/Lato-Italic.woff') format('woff'), url('fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-ThinItalic.eot');
  src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url('fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-ThinItalic.woff2') format('woff2'), url('fonts/Lato-ThinItalic.woff') format('woff'), url('fonts/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Thin.eot');
  src: local('Lato Thin'), local('Lato-Thin'), url('fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Thin.woff2') format('woff2'), url('fonts/Lato-Thin.woff') format('woff'), url('fonts/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Medium.eot');
  src: local('Lato Medium'), local('Lato-Medium'), url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Medium.woff2') format('woff2'), url('fonts/Lato-Medium.woff') format('woff'), url('fonts/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.up {
  text-transform: uppercase;
}
.none {
  text-decoration: none;
}
.th {
  font-weight: 100;
}
.el {
  font-weight: 200;
}
.l {
  font-weight: 300;
}
.reg {
  font-weight: 400;
}
.med {
  font-weight: 500;
}
.sb {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.eb {
  font-weight: 800;
}
.black {
  font-weight: 900;
}
.un {
  text-decoration: underline;
}
.in {
  display: inline-block;
}
.vam {
  vertical-align: middle;
}
.rel {
  position: relative;
}
.bl {
  display: block;
}
.abs {
  position: absolute;
}
.tr {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.try {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.trx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.tc {
  display: table-cell;
  vertical-align: middle;
}
.dn {
  display: none;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
.it {
  font-style: italic;
}
.sn {
  font-style: normal;
}
.b0 {
  border: 0;
}
.bn {
  background: none;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.wa {
  width: auto;
}
.p0 {
  padding: 0;
}
.m0 {
  margin: 0;
}
.poi {
  cursor: pointer;
}
.auto {
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
.noup {
  text-transform: none;
}
.fix {
  position: fixed;
}
.tn {
  transform: none;
}
.bf {
  background: #fff;
}
.cf {
  color: #fff;
}
.c0 {
  color: #000;
}
.ap {
  appearance: none;
}
.nw {
  white-space: nowrap;
}
.ma {
  margin: 0 auto;
}
.oh {
  overflow: hidden;
}
.pen {
  pointer-events: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background: #0f1629;
  overflow-x: hidden;
}
body,
th,
td {
  font-family: 'Lato';
  font-size: 14px;
  color: #fff;
}
body,
form,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img,
table {
  border: none;
}
table {
  border-collapse: collapse;
}
table td {
  padding: 0;
}
a {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a:hover {
  text-decoration: none;
}
input,
textarea,
button,
select {
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border: 0;
  font-family: 'Lato';
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
button:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder,
button:focus::-moz-placeholder,
select:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder,
button:focus:-moz-placeholder,
select:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
button:focus:-ms-input-placeholder,
select:focus:-ms-input-placeholder {
  color: transparent;
}
button,
input[type='submit'] {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  border: 0;
}
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
.an {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section,
header,
footer,
nav,
main {
  display: block;
}
.wrap {
  margin: 0 auto;
  width: 1240px;
}
* {
  outline: none!important;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.header {
  padding: 16px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 40px;
}
.header .social {
  margin-top: 20px;
}
.header .social * {
  vertical-align: middle;
}
.header .social ul {
  display: inline-block;
  margin-right: 65px;
}
.header .social ul li {
  display: inline-block;
}
.header .social ul li:not(:last-child) {
  margin-right: 22px;
}
.header .social .menu-button {
  width: 24px;
  height: 14px;
  display: inline-block;
  background: url('img/menu-button.svg');
}
.index-top-filter {
  padding-bottom: 40px;
}
.index-top-filter .wrap {
  position: relative;
}
.index-top-filter .links {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 20px;
  width: 622px;
  z-index: 4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: #17203a;
  padding: 30px 26px 20px 26px;
  display: none;
}
.index-top-filter .links ul li {
  width: 49%;
  margin-bottom: 10px;
}
.index-top-filter .links ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 11px 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.index-top-filter form {
  width: calc(100% - 118px);
  height: 45px;
  position: relative;
}
.index-top-filter form input[type='text'] {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 0 26px;
  color: #fff;
  background: none;
  font-size: 16px;
}
.index-top-filter form input[type='text']:focus {
  border: 1px solid #fff;
}
.index-top-filter form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 26px;
  width: 20px;
  height: 21px;
  background: url('img/search.svg');
}
.index-top-filter form input[type='text']:focus + .window {
  display: block;
}
.index-top-filter form .window {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: #17203a;
  padding: 22px 26px 17px 26px;
  z-index: 4;
  display: none;
}
.index-top-filter form .window ul li {
  margin-bottom: 5px;
}
.index-top-filter form .window ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 20px;
}
.index-top-filter form .window ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.index-top-filter .filter-link {
  width: 94px;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: url('img/filter.svg') no-repeat center;
}
.index-top-filter .filter-link:hover {
  border: 1px solid #fff;
}
.index-catalog-block {
  padding-bottom: 100px;
}
.index-catalog-block .filter {
  text-align: center;
  padding-bottom: 32px;
}
.index-catalog-block .filter a {
  display: inline-block;
  text-decoration: none;
  margin: 0 6px 8px 6px;
  font-size: 16px;
  line-height: 20px;
}
.index-catalog-block .filter a:hover {
  text-decoration: underline;
}
.index-catalog-block .letter {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.index-catalog-block .letter:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.05);
  margin-top: -2px;
}
.index-catalog-block .letter span {
  display: inline-block;
  position: relative;
  z-index: 3;
  background: #0f1629;
  width: 90px;
  line-height: 40px;
}
.index-catalog-block .list {
  padding-bottom: 60px;
}
.index-catalog-block .list .item {
  width: 15%;
  margin-bottom: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-right: 2%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.index-catalog-block .list .item:hover {
  box-shadow: 0px 0px 10px 0px rgba(49, 63, 152, 0.1);
  border: 1px solid #fff;
}
.index-catalog-block .list .item:hover .logo {
  background: #1f2c53;
}
.index-catalog-block .list .item:nth-child(6n) {
  margin-right: 0;
}
.index-catalog-block .list .item.no_logo {
  padding: 35px 20px;
}
.index-catalog-block .list .item.no_logo:hover {
  background: #1F2C53;
}
.index-catalog-block .list .item .logo {
  margin-bottom: 15px;
  height: 88px;
  line-height: 88px;
  border-radius: 5px;
  background: #384159;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.index-catalog-block .list .item .logo img {
  vertical-align: middle;
}
.index-catalog-block .list .item .link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.index-catalog-block .list2 {
  padding-bottom: 60px;
}
.index-catalog-block .list2 .item {
  width: 32%;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-right: 2%;
}
.index-catalog-block .list2 .item:nth-child(3n) {
  margin-right: 0;
}
.index-catalog-block .list2 .item:hover {
  box-shadow: 0px 4px 10px 0px rgba(36, 47, 113, 0.1);
  background: #344472;
}
.index-catalog-block .list2 .item .image {
  display: table-cell;
  vertical-align: middle;
}
.index-catalog-block .list2 .item .image img {
  width: 160px;
  max-width: 160px;
  margin-right: 20px;
}
.index-catalog-block .list2 .item .info {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
}
.index-catalog-block .bottom-pages {
  text-align: center;
  margin-top: -30px;
}
.index-catalog-block .bottom-pages a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin: 0 6px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 20px;
}
.index-catalog-block .bottom-pages a.active,
.index-catalog-block .bottom-pages a:hover {
  color: #fff;
}
.index-catalog-block .bottom-pages a.prev {
  background: url('img/pages-prev.svg');
  width: 12px;
  height: 13px;
}
.index-catalog-block .bottom-pages a.prev2 {
  background: url('img/pages-prev2.svg');
  width: 7px;
  height: 13px;
}
.index-catalog-block .bottom-pages a.next {
  background: url('img/pages-next.svg');
  width: 7px;
  height: 13px;
}
.index-catalog-block .bottom-pages a.next2 {
  background: url('img/pages-next2.svg');
  width: 12px;
  height: 13px;
}
.index-catalog-block .bottom-pages2 {
  text-align: right;
  font-weight: 300;
  line-height: 16px;
  margin-top: -22px;
}
.index-catalog-block .bottom-pages2 input {
  background: none;
  text-align: center;
  width: 47px;
  height: 27px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #fff;
  vertical-align: middle;
  margin-left: 4px;
}
.index-about-block {
  padding-bottom: 130px;
}
.index-about-block .image {
  display: table-cell;
  vertical-align: middle;
}
.index-about-block .image img {
  width: 400px;
  max-width: 400px;
  margin-right: 40px;
}
.index-about-block .text {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
}
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 0;
}
.footer nav {
  margin-bottom: 25px;
}
.footer nav .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
.footer nav ul {
  display: inline-block;
  vertical-align: middle;
}
.footer nav ul li {
  display: inline-block;
}
.footer nav ul li:not(:last-child) {
  margin-right: 30px;
}
.footer nav ul li a {
  display: block;
  text-decoration: none;
  font-weight: 300;
  line-height: 16px;
}
.footer nav ul li a:hover {
  text-decoration: underline;
}
.footer .search {
  margin-top: 9px;
}
.footer .search form {
  display: inline-block;
  vertical-align: middle;
  width: 265px;
  height: 40px;
  margin-right: 40px;
}
.footer .search form input[type='text'] {
  width: 100%;
  height: 100%;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: none;
  padding: 0 26px;
  color: #fff;
}
.footer .search form input[type='text']:focus {
  border: 1px solid #fff;
}
.footer .search ul {
  display: inline-block;
  vertical-align: middle;
}
.footer .search ul li {
  display: inline-block;
}
.footer .search ul li:not(:last-child) {
  margin-right: 22px;
}
.footer .copy {
  font-weight: 300;
  line-height: 16px;
}
.footer .rules {
  text-decoration: none;
  font-weight: 300;
  line-height: 16px;
}
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background: #0f1629;
  padding: 30px 0;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}
.menu::-webkit-scrollbar {
  width: 0;
}
.menu .close {
  position: absolute;
  right: 24px;
  top: 52px;
  width: 16px;
  height: 16px;
  background: url('img/close.svg');
}
.menu .logo {
  margin-bottom: 38px;
}
.menu ul li {
  margin-bottom: 40px;
}
.menu ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
}
.menu ul li ul {
  padding: 30px 0 1px 20px;
}
.menu ul li ul li {
  margin-bottom: 30px;
}
.menu ul li ul li:last-child {
  margin-bottom: 0;
}
.menu ul li ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
.menu .mess {
  padding-bottom: 92px;
}
.menu .mess a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid #2544ff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
  padding: 8px 10px;
}
.menu .mess a:hover {
  background: #2544ff;
}
.menu .mess a img {
  vertical-align: middle;
  margin: -4px 4px 0 0;
}
.menu .copy {
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 16px;
}
.menu .rules {
  text-decoration: none;
  font-weight: 300;
  line-height: 16px;
}
.top-menu {
  padding: 25px 0;
  text-align: center;
  margin-top: -40px;
  display: none;
}
.top-menu.opened {
  display: block;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li:not(:last-child) {
  margin-right: 80px;
}
.top-menu ul li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
.top-menu ul li a:hover {
  text-decoration: underline;
}
.search-page {
  padding-bottom: 94px;
}
.search-page .result {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
}
.search-page .item {
  margin-bottom: 40px;
}
.search-page .item h3 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
}
.search-page .item p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}
.search-page .item p span {
  color: #fff;
  font-weight: 700;
}
.search-page .item .link {
  display: block;
  font-weight: 300;
  line-height: 16px;
}
.search-page .not-found {
  text-align: center;
  padding: 100px 0 360px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
}
.navi {
  padding-bottom: 30px;
  margin-top: -10px;
  font-weight: 300;
  line-height: 16px;
}
.navi a {
  text-decoration: none;
}
.item-page {
  padding-bottom: 50px;
}
.item-page .image {
  display: table-cell;
  vertical-align: middle;
}
.item-page .image img {
  width: 505px;
  max-width: 505px;
  margin-right: 40px;
}
.item-page .info {
  display: table-cell;
  vertical-align: middle;
}
.item-page .info h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.item-page .info p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
}
.complects-block {
  padding-bottom: 130px;
}
.complects-block h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.complects-block .list,
.complects-block .list2 {
  margin: 0 -10px;
}
.complects-block .list .item,
.complects-block .list2 .item {
  margin: 0 10px;
}
.complects-block .list .item img,
.complects-block .list2 .item img {
  width: 100%;
}
.complects-block .list .item .links,
.complects-block .list2 .item .links {
  padding-top: 5px;
}
.complects-block .list .item .links a,
.complects-block .list2 .item .links a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
  border-radius: 5px;
}
.complects-block .list .item .links a:nth-child(1),
.complects-block .list2 .item .links a:nth-child(1) {
  border: 2px solid #7c0d71;
}
.complects-block .list .item .links a:nth-child(1):hover,
.complects-block .list2 .item .links a:nth-child(1):hover {
  background: #7c0d71;
}
.complects-block .list .item .links a:nth-child(2),
.complects-block .list2 .item .links a:nth-child(2) {
  border: 2px solid #2544ff;
}
.complects-block .list .item .links a:nth-child(2):hover,
.complects-block .list2 .item .links a:nth-child(2):hover {
  background: #2544ff;
}
.popup-gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  background: rgba(20, 29, 54, 0.9);
}
.popup-gallery .window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}
.popup-gallery .window .list {
  margin-bottom: 30px;
}
.popup-gallery .window .list .slick-prev,
.popup-gallery .window .list .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  font-size: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
}
.popup-gallery .window .list .slick-prev {
  left: -100px;
  background: url('img/prev.svg');
}
.popup-gallery .window .list .slick-next {
  right: -100px;
  background: url('img/next.svg');
}
.popup-gallery .window .links a {
  width: 49%;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
  border-radius: 5px;
  background: #151f39;
}
.popup-gallery .window .links a:nth-child(1) {
  border: 2px solid #7c0d71;
}
.popup-gallery .window .links a:nth-child(1):hover {
  background: #7c0d71;
}
.popup-gallery .window .links a:nth-child(2) {
  border: 2px solid #2544ff;
}
.popup-gallery .window .links a:nth-child(2):hover {
  background: #2544ff;
}
.about-page {
  padding-bottom: 100px;
}
.about-page .image {
  display: table-cell;
  vertical-align: middle;
}
.about-page .image img {
  width: 610px;
  max-width: 610px;
  margin-right: 40px;
}
.about-page .info {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
}
.reviews-block {
  padding-bottom: 130px;
}
.reviews-block h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.reviews-block .list {
  margin: 0 -10px;
}
.reviews-block .list .item {
  margin: 0 10px;
  padding: 25px 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.reviews-block .list .item:hover {
  background: #1f2c53;
}
.reviews-block .list .item .image {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}
.reviews-block .list .item .name {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.reviews-block .list .item .rating {
  margin: 3px 0 15px;
}
.reviews-block .list .item .rating .star {
  display: inline-block;
  width: 14px;
  height: 13px;
  background: url('img/star.svg');
}
.reviews-block .list .item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.reviews-block .list .slick-prev,
.reviews-block .list .slick-next {
  position: absolute;
  padding: 0;
  font-size: 0;
  z-index: 2;
  top: -60px;
  width: 30px;
  height: 30px;
}
.reviews-block .list .slick-prev {
  background: url('img/prev2.svg');
  right: 60px;
}
.reviews-block .list .slick-next {
  background: url('img/next2.svg');
  right: 10px;
}
.blog-page {
  padding-bottom: 100px;
}
.blog-page .list .item {
  width: 32%;
  margin-right: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.blog-page .list .item:nth-child(3n) {
  margin-right: 0;
}
.blog-page .list .item:hover {
  box-shadow: 0px 4px 10px 0px rgba(36, 47, 113, 0.1);
  background: #344472;
}
.blog-page .list .item .image {
  width: 100%;
  margin-bottom: 15px;
}
.blog-page .list .item h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.blog-page .list .item .date {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  line-height: 16px;
}
.blog-page .list .item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.article-page {
  padding-bottom: 100px;
}
.article-page .image {
  display: table-cell;
  vertical-align: middle;
}
.article-page .image img {
  width: 610px;
  max-width: 610px;
  margin-right: 40px;
}
.article-page .info {
  display: table-cell;
  vertical-align: middle;
}
.article-page .info h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.article-page .info .date {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  line-height: 16px;
}
.article-page .info p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
}
.contacts-page {
  padding-bottom: 130px;
}
.contacts-page .contacts {
  width: 51%;
}
.contacts-page .contacts h1 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
.contacts-page .contacts p {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
}
.contacts-page .contacts ul li {
  line-height: 24px;
  margin-bottom: 30px;
  padding-left: 54px;
  font-size: 18px;
  font-weight: 600;
}
.contacts-page .contacts ul li:nth-child(1) {
  background: url('img/contacts1.svg') no-repeat 0 0;
}
.contacts-page .contacts ul li:nth-child(2) {
  background: url('img/contacts2.svg') no-repeat 0 0;
}
.contacts-page .contacts ul li:nth-child(3) {
  background: url('img/contacts3.svg') no-repeat 0 0;
}
.contacts-page form {
  width: 37%;
  margin-bottom: 100px;
}
.contacts-page form input[type='text'] {
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  background: none;
  padding: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
}
.contacts-page form input[type='text']:focus {
  border: 1px solid #fff;
}
.contacts-page form textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 16px;
  background: none;
  padding: 13px 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
.contacts-page form button {
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  background: none;
  border: 2px solid #2544ff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.contacts-page form button:hover {
  background: #2544ff;
}
.contacts-page form .agree {
  position: relative;
}
.contacts-page form .agree input {
  position: absolute;
  left: 0;
  top: 1px;
  width: 18px;
  height: 18px;
}
.contacts-page form .agree label {
  display: block;
  cursor: pointer;
  padding-left: 32px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.contacts-page form .agree label a {
  color: #6f82ef;
}
.contacts-page .map {
  height: 240px;
}
@media (max-width: 1270px) {
  .wrap {
    width: 970px;
  }
  .index-about-block .text {
    line-height: 30px;
  }
  .index-catalog-block .list .item {
    width: 18.5%;
    margin-right: 1.8%;
  }
  .index-catalog-block .list .item:nth-child(6n) {
    margin-right: 1.8%;
  }
  .index-catalog-block .list .item:nth-child(5n) {
    margin-right: 0;
  }
  .index-catalog-block .list2 .item {
    width: 49%;
    margin-right: 2%;
  }
  .index-catalog-block .list2 .item:nth-child(3n) {
    margin-right: 2%;
  }
  .index-catalog-block .list2 .item:nth-child(2n) {
    margin-right: 0;
  }
  .item-page .info p {
    line-height: 34px;
    margin-top: 12px;
  }
  .about-page .image {
    display: block;
  }
  .about-page .image img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .about-page .info {
    display: block;
  }
  .article-page .image {
    display: block;
  }
  .article-page .image img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .article-page .info {
    display: block;
  }
  .contacts-page form {
    width: 42%;
  }
}
@media (max-width: 991px) {
  .wrap {
    width: 747px;
  }
  .index-catalog-block .list .item {
    width: 23%;
    margin-right: 2.666667%;
  }
  .index-catalog-block .list .item:nth-child(6n) {
    margin-right: 2.666667%;
  }
  .index-catalog-block .list .item:nth-child(5n) {
    margin-right: 2.666667%;
  }
  .index-catalog-block .list .item:nth-child(4n) {
    margin-right: 0;
  }
  .index-about-block .image {
    display: block;
  }
  .index-about-block .image img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
  .index-about-block .text {
    display: block;
  }
  .footer nav .logo {
    margin-right: 20px;
  }
  .footer nav ul li:not(:last-child) {
    margin-right: 20px;
  }
  .footer .search form {
    margin-right: 20px;
    width: 180px;
  }
  .item-page .image {
    display: block;
  }
  .item-page .image img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
  .item-page .info {
    display: block;
  }
  .blog-page .list .item {
    width: 48.5%;
    margin-right: 3%;
  }
  .blog-page .list .item:nth-child(3n) {
    margin-right: 3%;
  }
  .blog-page .list .item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .wrap {
    width: 556px;
  }
  .index-catalog-block .filter a {
    margin: 0 4px 8px 4px;
  }
  .index-catalog-block .list .item {
    width: 31%;
    margin-right: 3.5%;
  }
  .index-catalog-block .list .item:nth-child(6n) {
    margin-right: 3.5%;
  }
  .index-catalog-block .list .item:nth-child(5n) {
    margin-right: 3.5%;
  }
  .index-catalog-block .list .item:nth-child(4n) {
    margin-right: 3.5%;
  }
  .index-catalog-block .list .item:nth-child(3n) {
    margin-right: 0;
  }
  .index-catalog-block .bottom-pages2 {
    display: none;
  }
  .footer nav {
    width: 100%;
    text-align: center;
  }
  .footer .search {
    width: 100%;
    text-align: center;
    margin: 0 0 25px 0;
  }
  .footer .search form {
    width: 320px;
  }
  .index-top-filter .links {
    width: 556px;
  }
  .top-menu ul li:not(:last-child) {
    margin-right: 40px;
  }
  .index-catalog-block .list2 .item {
    width: 100%;
    margin: 0 0 20px 0!important;
  }
  .blog-page .list .item {
    width: 100%;
    margin: 0 0 30px 0!important;
  }
  .contacts-page .contacts {
    width: 100%;
    padding-bottom: 30px;
  }
  .contacts-page form {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .wrap {
    width: auto;
    padding: 0 24px;
  }
  .header {
    padding: 30px 0;
    margin-bottom: 0;
    border-bottom: 0;
  }
  .header .social ul {
    display: none;
  }
  .index-top-filter {
    padding-bottom: 30px;
  }
  .index-top-filter .filter-link {
    width: 50px;
    height: 45px;
  }
  .index-top-filter form {
    width: calc(100% - 66px);
  }
  .index-catalog-block .wrap {
    padding-right: 90px;
    position: relative;
  }
  .index-catalog-block.no_filter .wrap {
    padding-right: 24px;
  }
  .index-catalog-block .filter {
    position: absolute;
    top: 20px;
    right: 24px;
  }
  .index-catalog-block .filter a {
    display: block;
    margin: 0 0 24px 0;
    opacity: .5;
  }
  .index-catalog-block .filter br {
    display: none;
  }
  .index-catalog-block .letter span {
    width: 35px;
  }
  .index-catalog-block .letter {
    text-align: left;
  }
  .index-catalog-block .list .item {
    width: 47.5%;
    margin-right: 5%;
  }
  .index-catalog-block .list .item:nth-child(6n) {
    margin-right: 5%;
  }
  .index-catalog-block .list .item:nth-child(5n) {
    margin-right: 5%;
  }
  .index-catalog-block .list .item:nth-child(4n) {
    margin-right: 5%;
  }
  .index-catalog-block .list .item:nth-child(3n) {
    margin-right: 5%;
  }
  .index-catalog-block .list .item:nth-child(2n) {
    margin-right: 0;
  }
  .index-catalog-block .list .item {
    padding: 12px 18px;
  }
  .index-catalog-block .list .item .logo {
    height: 75px;
    line-height: 75px;
  }
  .index-catalog-block .list .item .logo img {
    max-height: 70%;
    vertical-align: middle;
  }
  .index-catalog-block .list {
    padding-bottom: 20px;
  }
  .index-catalog-block .bottom-pages {
    display: none;
  }
  .index-catalog-block {
    padding-bottom: 20px;
  }
  .index-about-block {
    padding-bottom: 60px;
  }
  .footer nav .logo {
    display: block;
    margin: 0 0 20px 0;
  }
  .footer nav {
    text-align: center;
  }
  .footer nav ul li:not(:last-child) {
    margin-right: 15px;
  }
  .footer .search form {
    width: 200px;
  }
  .footer .copy {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .rules {
    width: 100%;
    text-align: center;
  }
  .menu.opened {
    display: block;
  }
  .index-top-filter .links {
    right: 24px;
    width: calc(100% - 48px);
  }
  .index-top-filter .links ul li {
    width: 100%;
  }
  .index-top-filter .links {
    padding: 20px 16px 10px 16px;
  }
  .index-top-filter .links ul li a {
    font-size: 14px;
    line-height: 18px;
  }
  .top-menu.opened {
    display: none;
  }
  .search-page {
    padding-bottom: 20px;
  }
  .search-page .not-found {
    padding: 30px 0 80px;
  }
  .index-catalog-block .list2 .item {
    padding: 13px 20px;
  }
  .index-catalog-block .list2 .item .image img {
    width: 130px;
    max-width: 130px;
  }
  .complects-block {
    padding-bottom: 70px;
  }
  .complects-block .list,
  .complects-block .list2 {
    margin: 0 -24px 0 0;
  }
  .complects-block .list .item,
  .complects-block .list2 .item {
    width: 264px;
    margin: 0 20px 0 0;
  }
  .popup-gallery .window {
    width: 360px;
  }
  .popup-gallery .window .links a {
    width: 100%;
  }
  .popup-gallery .window .links a:nth-child(1) {
    margin-bottom: 15px;
  }
  .about-page .info {
    line-height: 34px;
  }
  .about-page {
    padding-bottom: 60px;
  }
  .reviews-block h2 {
    margin-bottom: 20px;
  }
  .reviews-block .list {
    margin: 0 -24px 0 0;
  }
  .reviews-block .list .item {
    width: 322px;
    margin: 0 20px 0 0;
  }
  .reviews-block {
    padding-bottom: 70px;
  }
  .reviews-block .list .item {
    padding: 36px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .blog-page .list .item {
    padding: 30px 20px;
  }
  .blog-page {
    padding-bottom: 40px;
  }
  .article-page {
    padding-bottom: 60px;
  }
  .article-page .info p {
    line-height: 34px;
  }
  .contacts-page .contacts p {
    line-height: 34px;
  }
  .contacts-page form {
    margin-bottom: 60px;
  }
  .contacts-page .map {
    height: 306px;
  }
  .contacts-page {
    padding-bottom: 70px;
  }
}
